
### pcmanfm

style "pcmanfm_toolbar" = "toolbar" {
	bg[NORMAL] = "#3c3b37" # @bg_color_dark
	bg[PRELIGHT] = shade (1.3, @selected_bg_color)
	bg[ACTIVE] = shade (1.2, @selected_bg_color)
	text[NORMAL] = @text_color
}
widget_class "*FmMainWin*GtkToolbar*" style "pcmanfm_toolbar"

### lxpanel

style "lxpanel" = "dark" {
	xthickness = 0
	ythickness = 0
	GtkWidget::focus-line-width = 1
	bg[NORMAL] = shade (1.3, @bg_color_dark)
	bg[ACTIVE] = shade (1.05, @selected_bg_color)
	bg[PRELIGHT] = shade (1.25, @selected_bg_color)
	fg[NORMAL] = shade (0.9, @base_color)
	fg[ACTIVE] = shade (0.9, @base_color)
	fg[PRELIGHT] = @bg_color_dark
}
widget_class "PanelToplevel*" style "lxpanel"

### xfce4-notifyd

style "xfce4-notifyd" = "lxpanel" {
	XfceNotifyWindow::summary-bold = 1
	XfceNotifyWindow::border-color = shade (1.6, @bg_color_dark)
	XfceNotifyWindow::border-radius = 10.0
	XfceNotifyWindow::border-width = 1.0
}
class "XfceNotifyWindow" style "xfce4-notifyd"

style "xfce4-notifyd-button" = "lxpanel" {
	xthickness = 3
	ythickness = 3
	engine "murrine" {
		#contrast = 1.0
		textstyle = 1
		border_shades = {1.01, 0.8}
		reliefstyle = 0
		shadow_shades = {1.0, 1.1}
		glowstyle = 5
		glow_shade = 1.02
		lightborder_shade = 1.32
#		lightborderstyle = 0
		#text_shade = 1.04
	}
}
widget_class "XfceNotifyWindow.*.GtkButton*" style "xfce4-notifyd-button"
widget_class "XfceNotifyWindow.*.<GtkLabel>" style "dark"

### synapse

style "synapse" = "dark" {
	text[NORMAL] = @fg_color
}
widget_class "*Synapse*View*" style "synapse"

### gtk calendar

style "darkcalendar" = "dark" {
	xthickness = 0
	ythickness = 0
	base[NORMAL] = shade (1.8, @bg_color_dark)
	base[SELECTED] = shade (1.4, @bg_color_dark)
	base[ACTIVE] = shade (1.3, @bg_color_dark)
	text[NORMAL] = shade (0.85, @fg_color_dark)
	text[SELECTED] = shade (1.15, @selected_bg_color)
        text[ACTIVE] = @fg_color_dark
	bg[NORMAL] = shade (1.15, @bg_color_dark)
	fg[NORMAL] = shade (1.1, @fg_color_dark)
}
class "GtkCalendar" style "darkcalendar"
widget_class "*<GtkMenuItem>.*.<GtkCalendar>" style "darkcalendar"
